.aboutPageContainer {
    color: #000;
    background-color: #aa0000;
    border-radius: 1vw;
    padding: 1vw;
    margin-top: 0;
    height: 100%;
}

.aboutHeader {
    margin-top: -1vw;
    background-color: #aa0000;
    height: calc(58px + 7% + 1vw);
    z-index: 1;

}

.aboutHeader div {
    position: sticky;
    height: 20px;
    background-color: #aa0000;
    box-shadow: 0 0 15px 15px #aa0000;
    z-index: 50;
}

.section_1 {
    padding: 0 5vw 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.section_2 {
    padding: 0 5vw 0;

}

.section_2__title {
    color: #fff;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Courier New", monospace;
    font-weight: normal !important;
    font-size: 35px;
    margin-bottom: 10px;
}

.section_2__skillsContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    perspective: 5000px;
    perspective-origin: center 170px;
}

.heroCarousel {
    padding-top: 20px;
    z-index: 10;
}

.heroPhoto {
    width: 400px;
    margin: auto auto 0;
    object-fit: cover;
    box-shadow: 0 0 10px 5px black;
}

@media screen and (max-width: 767px) {
    .section_1 {
        justify-content: center;
    }
    .section_2 {
        justify-content: center;
    }
    .section_2__title {
        text-align: center;
        margin-bottom: 4vw;
    }
    .section_2__skillsContainer {
        flex-direction: column;
    }
}
@media screen and (max-width: 479px) {
    .section_1 {
        justify-content: center;
    }
    .section_2 {
        justify-content: center;
    }
    .section_2__title {
        text-align: center;
    }
    .heroCarousel {
        text-align: center;
    }
    .heroPhoto {
        width: 300px;
    }
}

